version: "3.9"

services:

  frontend:
    image: nginx:alpine
    ports:
      - "8003:80"
    volumes:
      - ./frontend:/usr/share/nginx/html
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app

  db:
    image: mongo
    ports:
      - "27017:27017"
